body {
  background-color: #ff731d !important;
  color: #fff7e9 !important;
}

button {
  background-color: #5f9df7 !important;
  color: #fff7e9 !important;
}

button:hover {
  background-color: #fff7e9 !important;
  color: black !important;
}

.gameboards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.gameboard,
.computer-gameboard {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.board-piece {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: white;
}

.hover {
  background-color: #e6e6e6;
}

.occupied {
  background-color: black;
  border: solid 1px white;
}

.start-game-button {
  visibility: hidden;
}

.hit {
  background-color: red;
}

.miss {
  background-color: blue;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttons {
  padding: 10px;
}

.end-game-modal {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #ff731d;
  max-width: 80%;
}
